
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>amountList</title>
</head>
<body>
    <div> 
        帳號：@ViewBag.orderAccount <br/>
        總計：@ViewBag.orderAmount
    </div>
</body>
</html>
